$transparent: rgb(255 255 255 / 0%);
$white: #ffffff;
$off-white: #f5f4f0;
$off-white2: #e3e3e3;
$silver: #c0c0c0;
$light-grey: #7e7e7e;
$black: #000000;
$darkerGray: #2d2d2d;

$app-dark: rgb(2 2 20 / 1); //#020214FF
$app-light: rgb(238 242 255 / 1); //#EEF2FFFF

$app-logo-color1: #1663f1;
$app-logo-color2: #07b7e6;
$app-logo-color3: #99e3d6;
$app-logo-shadow: #10b981;

$app-yellow: #ffc600;
$app-purple: #4e15b3;
$app-purple2: #c098ff;

$app-spotlight1: white;
$app-spotlight2: #5d005d;
$app-spotlight3: blue;


