@use "colors" as *;

.glass-card {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .glass-card {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-card-blue {
  background: rgba(0, 119, 255, 0.14);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .glass-card-blue {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.gradient-border {
  background: linear-gradient(45deg, #3b82f6, #8b5cf6, #06b6d4);
  padding: 1px;
  border-radius: 12px;
}

.gradient-border-inner {
  background: hsl(var(--background));
  border-radius: 11px;
  height: 100%;
  width: 100%;
  //color: #130431;
}

.bg-student-light {
  @apply bg-gradient-to-br from-slate-700 via-purple-700 to-slate-700;
}

.bg-gradient-student {
  @apply bg-gradient-to-br from-[#020817] via-[#130431] to-[#020817];
}
